*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    flex-wrap: wrap;
}
header nav ul {
    display: flex;
    gap: 30px;
}
header nav {
    padding: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: aqua;
}